//
   Created by Administrator on 2016/3/10.
#tables_page.main_container
  .row-fluid
    ul.breadcrumb
    h4.heading
      ul.breadcrumb
        li.active 评教系统
  .row-fluid
    .widget.widget-padding.span12
      .widget-header
        i.icon-list-alt
        h5 查询条件
      .widget-body
        .widget-forms.clearfix
          form.form-horizontal
            .control-group
              label.control-label 评教得分：
              .controls
                label.checkbox.callinfo_search_checkbox
                  input(type='checkbox', value='0' ng-click='allSel($event)' ng-model="searchObj.selectAll")
                  |  全部
                label.checkbox.callinfo_search_checkbox(ng-repeat="obj in starLevel")
                  input(type='checkbox', value='{{obj.value}}' ng-click="updateSelection($event, obj.value)" ng-model="obj.check")
                  |  {{obj.name}}
            .control-group
              label.control-label 日期：
              .controls
                .input-append.date.datepicker.datepicker-basic(style="padding:0;float:none;display:inline" data-date='', b-datepicker data-date-format='yyyy-mm-dd' )
                  input.span3(size='16', placeholder='请输入开始时间' type='text'  ng-model="searchObj.startDate" ng-change='checkTime(searchObj.startDate, "start")')
                  span.add-on
                    i.icon-calendar
                span &nbsp;&nbsp;----&nbsp;&nbsp
                .input-append.date.datepicker.datepicker-basic(style="padding:0;margin-left:0;float:none;display:inline" data-date='', b-datepicker data-date-format='yyyy-mm-dd' )
                  input.span3(size='16', placeholder='请输入结束时间' type='text'  ng-model="searchObj.endDate" ng-change='checkTime(searchObj.endDate, "end")')
                  span.add-on
                    i.icon-calendar
                span.text-danger(ng-show="showTip === false") 请输入完整时间段
                span.text-danger(ng-show="compare === false") 开始时间不能大于结束时间
            .control-group
              .controls(style="margin-left:100px;")
                button.btn.btn-default(ng-click="search()") 查询
	
	
	.row-fluid

            .span10(ng-show='records.data.length > 0')
              .span3(style="margin: 25px 0px")
                .dataTables_paginate.paging_bootstrap.pagination
                  span.mg-tb-0.ver-middle.text-info 共 {{records.pageCount}} 页  总计 {{records.totalCount}} 条记录
              .span7
                .dataTables_paginate.paging_bootstrap.pagination
                  ul.pagination.mg-tb-0.ver-middle
                    li.cur-default(ng-class="{true: 'disabled', false: ''}[records.offset == 1]" ng-click="find(records.offset - 1)")
                      a(aria-label="Previous") ← 上一页
                    li(ng-show="isShowFirstLast" ng-class="{true: 'active', false: ''}[records.offset == 1]")
                      a(ng-click="find(1)") {{1}}
                    li(ng-show="prevS")
                      span …
                    li.cur-default(ng-repeat="page in pageInfor" ng-class="{true: 'active', false: ''}[records.offset == page.index]" )
                      a(ng-click="find(page.index)") {{page.index}}
                    li(ng-show="nextS")
                      span …
                    li(ng-show="isShowFirstLast" ng-class="{true: 'active', false: ''}[records.offset == records.pageCount]")
                      a(ng-click="find(records.pageCount)") {{records.pageCount}}
                    li.cur-default(ng-class="{true: 'disabled', false: ''}[records.offset == records.pageCount]" ng-click="find(records.offset - 1 + 2)")
                      a(aria-label="Next") 下一页 →



